@use './_colors.scss' as *;
.spanFont{
    font-weight: bold;
    color: $primary-color;
}
@media screen and (min-width: 1024px){
    .fontNav{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-decoration: none;
}

.textFont{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.titleFont{
    font-family: "Playfair Display", serif;
}

.secondTitleFont{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

.thirdTitleFont{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

.fourthTitleFont{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

.linkFont{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.buttonFont{
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

}

