header{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto;
    grid-template-areas: 
    "navBar"
    "title";
    img{
        grid-area: title;
    };
    nav{
        grid-area: navBar;
    }
}