@use '../__colors.scss' as *;
.aboutUs{
    height: 90vh;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    grid-template-areas: 
    "text image"; 

    .aboutUsContent{
        grid-area: text;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3{
            color: $black-color;
            border-bottom: 1px solid $primary-color;
        }
    }
    img{
        height: 80vh;
        grid-area: image;
        clip-path: xywh(0 5px 100% 75% round 15% 0);
    }
}