@use '../_colors.scss' as *;

.catalogContainer{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "title" 
    "targets";

    .catalogTitle{
        grid-area: title;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3{
            color: $black-color;
            border-bottom: 1px solid $primary-color;
        }
    }
    .catalog{
        grid-area: targets;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .targetInCatalog{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 18px;
            img{
                width: 100%;
                height: auto;
                max-height: 310px;
                border-radius: 15px;
            }
            h3{
                color: $black-color;
                border-bottom: 1px solid $primary-color;
            }
            p{
                color: $black-color;
                span{
                    font-weight: bold;
                    color: $primary-color;
                }
            }
            button{
                background-color: transparent;
                border: 1px solid $terciary-color;
                color: $black-color;
                padding: 1rem 2rem;
                border-radius: 50px;
                font-weight: bold;
                cursor: pointer;
                transition: background-color 0.3s ease;
                &:hover{
                    background-color: $terciary-color;
                    color: $white-color;
                }
            }
        }
    }
}