@media screen and (min-width: 1024px){
    .targetInCatalog{
        width: 300px;
    }
}
@media screen and (max-width: 1024px){
    .targetContainer{
        .targetList{
          width: 50%;
          margin: auto;
          
        }
        .targetCarousel{
            width: 100%;
            margin: auto;
        }

        .targetInCarousel{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img{
                width: 70%;
            }
        }
    }
  
    .catalogContainer{

    .catalog{
        .targetInCatalog{
            width: 250px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 18px;
            img{
                width: 50%;
                border-radius: 15px;
            }
            
        }
    }
}
}


@media (max-width: 768px) {
    .targetContainer{
        .targetList{
          width: 90%;
          margin: auto;
          
        }
        .targetCarousel{
            width: 100%;
            margin: auto;
        }

        .targetInCarousel{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img{
                width: 50%;
            }
        }
    }

    .catalogContainer{

    .catalog{
        .targetInCatalog{
            width: 200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 18px;
            text-align: center;
            img{
                width: 10%;
                border-radius: 15px;
            }
            
        }
    }
}
}

@media (max-width: 480px) {
    .targetContainer{
        .targetList{
          width: 100%;
          margin: auto;
          
        }
        .targetCarousel{
            width: 100%;
            margin: auto;
        }

        .targetInCarousel{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img{
                width: 50%;
            }
        }
    }

    .catalogContainer{
        text-align: center;
    .catalog{
        .targetInCatalog{
            width: 150px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 18px;
            text-align: center;
            img{
                width: 50%;
                border-radius: 15px;
            }
            
        }
    }
}

}