.targetInCarousel{
    
    img{
        width: 200px;
    }
}

@media screen and (max-width: 1024px){
    .targetInCarousel{
        img{
            width: 150px;
        }
    }
    
}

@media screen and (max-width: 480px){
    .targetInCarousel{
        img{
            width: 150px;
        }
    }
    
}